.button span{
    position: relative;
    z-index: 9;
    transition: .3 ease all;
  }
  
  .button.button--sig::after{
    content: "";
    width: 110%;
    height: 100%;
    background: rgba(34, 98, 151, 0.651);
    position: absolute;
    z-index: 1;
    top: -0%;
    left: -110%;
    transition: .3s ease-in-out all;
    border-radius: 0px 50px 50px 0px;
  }
  .button.button--sig:hover::after{
    left: 0;
  }